html {
  height: 100%;
  width: 100%;
}
body {
  background-color: #000000;
}
h1 {
  color: #ffffff;
}
h2 {
  color: #ffffff;
}
h3 {
  color: #ffffff;
}
p {
  color: #ffffff;
}
body {
  color: #ffffff;
}